# Node
node_modules/
.next/
.env.local
.env
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
backend/.env


# Docker
*.pid
*.sock

# IDE
.vscode/
.idea/
.DS_Store
# Geocoding cache & logs
backend/data/processed/geocode_cache.json
backend/data/processed/errors.log
backend/app/firebase-admin-key.json

# firebase json file
backend/secrets
backend/.env.production
