services:
  db:
    image: postgis/postgis:15-3.4
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: maiwakeharumiki
      POSTGRES_DB: pet_db
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
      POSTGRES_INITDB_ARGS: "--locale=C.UTF-8 --encoding=UTF8 --lc-collate=C.UTF-8 --lc-ctype=C.UTF-8"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    working_dir: /app
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
